<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="distribution">
            <h2><span>Distribution</span> le {{distribution.date | date : 'dd/MM/yyyy'}} à <span *ngIf="distribution.placeId"><a [routerLink]="['/distribution-place', distribution.placeId, 'view']">{{distribution.placeName}}</a></span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dd>
                    <span>{{distribution.text}}</span>
                </dd>
                <dt><span>Amapiens</span> <span class="badge-pill badge-primary">{{distribution.users.length}}</span></dt>
                <dd>
                    <span *ngFor="let users of distribution.users; let last = last">
                        {{users.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dd *ngFor="let comment of comments;">
                    <div>{{comment.user.login}}: {{comment.text}}
                        <div class="btn-group">
                        <button type="button"
                            *ngIf="canEditComment(comment)"
                            [routerLink]="['/', 'distribution', { outlets: { popup:  distribution.id + '/comment/' + comment.id} }]"
                            replaceUrl="false"
                            queryParamsHandling="merge"
                            type="submit"
                            class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="submit"
                                *ngIf="canEditComment(comment)"
                                (click)="deleteComment(comment)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        </div>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>
            <button type="button"
                    [routerLink]="['/', 'distribution', { outlets: { popup:  distribution.id + '/comment/new'} }]"
                    replaceUrl="false"
                    queryParamsHandling="merge"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Ajouter un commentaire</span>
            </button>
            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/distribution', distribution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editer</span>
            </button>
        </div>
    </div>
</div>
