<form name="commentForm" (ngSubmit)="confirmComment()">
    <div class="modal-header">
        <h4 class="modal-title">Ajouter un commentaire sur {{distribution.id}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_text">Votre commentaire :</label>
            <textarea class="form-control" name="text" id="field_text"
                      [(ngModel)]="comment.text" ></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
        </button>
        <button id="jhi-confirm-comment-distribution" type="submit" class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>Ajouter un commentaire</span>
        </button>
    </div>
</form>
