<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Betterave platform"/>
    <meta name="author" content="The Betterave Team"/>

    <title>Wisdom - Monitoring</title>

    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="/libs/bootswatch-yeti/css/bootstrap.css" media="screen"/>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/js/bootstrap.min.js"></script>

</head>

<body>

<h1>Admin page</h1>

</body>
</html>