<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Betterave platform"/>
    <meta name="author" content="The Betterave Team"/>

    <title>Wisdom - Monitoring</title>

    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="/libs/bootswatch-yeti/css/bootstrap.css" media="screen"/>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/js/bootstrap.min.js"></script>

</head>

<body>

<div class='container-fluid' id="listContainer">
    <div class='row'>
        Welcome to betterave app :)
    </div>
    <div class='row' id="userListContainer">
        Loading users...
    </div>
</div>


<script src="/libs/jquery.min.js"></script>
<script src="/assets/libs/h-ubu-1.0.1-SNAPSHOT.js"></script>
<!-- The ractive version must match the one used in the plugin -->
<script src='http://cdn.ractivejs.org/0.6.1/ractive.min.js'></script>
<script src="/assets/libs/ractive-events-keys.js"></script>
<script src="/assets/app/render/RenderService.js"></script>
<script src="/assets/app/render/RactiveRenderService.js"></script>
<script src="/assets/app/render/comp/RactiveRender.js"></script>

<!-- Views -->
<script src="/assets/app/views/list.js"></script>

<!-- Controllers -->
<script src="/assets/app/UserListController.js"></script>

    var listModel = {};

    //Start the app!
    jQuery(document).ready(function() {
        hub.registerComponent(new RactiveRender(), {
            model: listModel,
            template: "userList",
            container: 'listContainer',
            name: 'UserListRender'
        }).registerComponent(new UserListController(), {
            model: listModel,
            name: 'UserListController'
        }).start();
    });

</body>
</html>