<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Inscription</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Inscription enregistrée !</strong> Vous avez reçu un email de confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>L'inscription a échoué !</strong> Veuillez ré-essayer ultérieurement.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Ce nom d'utilisateur existe déjà !</strong> Merci d'en choisir un autre.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Cet email est déjà utilisé !</strong> Merci d'en choisir un autre.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas !
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Votre nom d'utilisateur"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Votre nom d'utilisateur est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Votre nom d'utilisateur doit faire au moins 1 caractère.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Votre nom d'utilisateur ne peut pas faire plus de 50 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Votre nom d'utilisateur ne peut contenir que des lettres et des chiffres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Votre email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Votre email est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Votre email est invalide.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Votre email doit contenir au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Votre email ne peut pas faire plus de 50 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Mot de passe"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Votre mot de passe est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Votre mot de passe doit faire au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Votre mot de passe ne peut pas faire plus de 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmez votre mot de passe"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            La confirmation de votre mot de passe et requise.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Votre mot de passe doit faire au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Votre mot de passe ne peut pas faire plus de 50 caractères.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">S'inscrire</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
