<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <h1 *ngSwitchCase="false" class="display-4">Bienvenue!</h1>
            <h1 *ngSwitchCase="true">Bienvenue, {{account.firstName}}</h1>
            <p class="lead">Plateforme de gestion de l AMAP la Fee des Champs</p>
            <p  *ngSwitchCase="true">
                Voir les prochaines <a class="alert-link" routerLink="distribution">distributions</a>
            </p>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous n'avez pas encore de compte ? Votre compte vous permettra de vous inscrire aux distributions et ateliers de l'AMAP.</span>&nbsp;
                <a class="alert-link" routerLink="register">Créer mon compte</a>
            </div>
        </div>
    </div>
</div>
